* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg,#f5a16b,#5d86ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    background: #f6f6f6;
    border-radius: 15px;
    padding: 25px 40px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand img {
    width: 120px;
}


.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    color: #555;
}

.nav-buttons button {
    margin-left: 12px;
}

/* Buttons */
.main-btn {
    background: #2f6df6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.demo-btn {
    background: #e9e9e9;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    max-width: 450px;
}

.hero-left h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-left p {
    color: #555;
    margin-bottom: 20px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

/* Brands */
.brands p {
    color: #777;
    margin-bottom: 10px;
}

.brand-logos {
    display: flex;
    gap: 25px;
    color: #888;
    font-weight: bold;
}

/* Illustration */
.hero-right img {
    width: 550px;
    border: none;
    outline: none;
    background: transparent;
    display: block;
}

.hero-right {
    background: transparent;
    border: none;
}


